Repository ravvviii/Upsc, changes with the labels that .github/labeler.yml gives for each.
All labels: 🐛 bug, ✨ feature, 📱 UI/UX, 🔧 config, 📚 documentation, 🚀 deployment, 🧪 testing

pakage.json update
  package-lock.json
Labels: 🔧 config

testing ota
  app.json
  app/(tabs)/profile.jsx
Labels: ✨ feature, 🔧 config

apk build
  eas.json
Labels: 🔧 config, 🚀 deployment

ota testing
  app/(tabs)/profile.jsx
Labels: ✨ feature

profile added
  app/(tabs)/profile.jsx
Labels: ✨ feature

date removed from edutorial
  app/editorialDetail.jsx
Labels: ✨ feature

profile page clear
  app/(tabs)/profile.jsx
Labels: ✨ feature

loader combine and make one only
  app/(tabs)/news.jsx
  app/editorialDetail.jsx
Labels: ✨ feature

.github/labeler.yml:

# Configuration for automatic labeling of PRs

"🐛 bug":
  - "**/*bug*"
  - "**/*fix*"

"✨ feature":
  - "app/**/*"
  - "components/**/*"
  - "hooks/**/*"

"📱 UI/UX":
  - "**/*.css"
  - "**/tailwind*"
  - "components/**/*"

"🔧 config":
  - "*.json"
  - "*.yml"
  - "*.yaml"
  - "*.config.*"

"📚 documentation":
  - "README*"
  - "**/*.md"

"🚀 deployment":
  - ".github/**/*"
  - "eas.json"

"🧪 testing":
  - "**/*test*"
  - "**/*spec*"
